<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">

    </div><!-- container -->
    <% include partails/template/jsdefault.ejs %>
  </body>
</html>
